@{
    ViewBag.Title = "Home Page";
}

<main>
    <div class="container">
        <form method="post" action="Usercontroller/Login">
            <label for="Username" class="form-label">Username: </label>
            <input type="text" class="form-control" name="Username" />
            <label for="Password" class="col-form-label">Password:</label>
            <input type="password" class="form-control" name="Password" />
            
            <input type="submit" value="Login" />

            <p>Don't have an account? <a>SIGN UP!</a></p>
        </form>
    </div>
</main>